<link rel="stylesheet" type="text/css" href="styles/login.css">

<div id="content">
    <div id="login">
        <form id="loginForm">
            <table>
                <tr><td><h2>Login</h2></td></tr>
                <tr><td><input type="text" id="loginUsername" placeholder="username"></td></tr>
                <tr><td><input type="password" id="loginPassword" placeholder="password"></td></tr>
                <tr><td><button type="button" id="loginButton" onclick="login(loginUsername.value, loginPassword.value)">Log in</button></td></tr>
            </table>
        </form>
    </div>

    <div id="registration"></div>
</div>